.sidebar-pill-icon {
  width: 1.35rem;
  height: 1.35rem;
  filter: grayscale(1) brightness(0.7);
  object-fit: contain;
  display: inline-block;
}
.dark .sidebar-pill-icon {
  filter: grayscale(1) brightness(0.5);
  /* Use a gray color for the icon in dark mode */
  opacity: 0.7;
}
