<aside class="admin-sidebar" [class.dark]="themeService.isDarkMode()">
  <div class="sidebar-header" (click)="goHome()" title="Back to Home">
    <img src="assets/images/QuickMed-Logo.png" alt="QuickMed Logo" />
    <h2>{{ title }}</h2>
  </div>

  <nav class="sidebar-nav">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-link"
    >
      <ng-container *ngIf="item.icon && item.icon.indexOf('/') > -1; else fontIcon">
        <img [src]="item.icon" class="icon-img" alt="" />
      </ng-container>
      <ng-template #fontIcon>
        <i class="bi" [ngClass]="item.icon"></i>
      </ng-template>
      <span>{{ item.label }}</span>
    </a>
  </nav>
</aside>
