<aside class="w-60 fixed left-0 top-0 h-screen overflow-y-auto flex flex-col" 
       [style.background-color]="themeService.currentTheme()?.sidebarBg || '#ffffff'"
       [style.border-right-color]="themeService.currentTheme()?.borderColor || '#e5e5e5'"
       style="border-right: 1px solid;">
  <div class="px-6 py-4 border-b border-gray-200 cursor-pointer" (click)="goHome()" title="Back to Home">
    <img src="assets/images/QuickMed-Logo.png" alt="QuickMed Logo" class="h-8 mb-2" />
    <h2 class="text-lg font-bold text-gray-900">{{ title }}</h2>
  </div>

  <nav class="flex-1 flex flex-col py-4">
    <a
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
      class="nav-link"
    >
      <ng-container *ngIf="item.icon && item.icon.indexOf('/') > -1; else fontIcon">
        <img [src]="item.icon" class="icon-img" alt="" />
      </ng-container>
      <ng-template #fontIcon>
        <i class="bi w-5 text-center text-base" [class]="'bi-' + item.icon"></i>
      </ng-template>
      <span>{{ item.label }}</span>
    </a>
  </nav>
</aside>
